<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tempo Médio de Serviço por Atendente</h5>
                <!-- Inputs para as datas -->
                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="startDateAtendente">Data de Início:</label>
                        <input type="text" id="startDateAtendente" class="form-control" placeholder="dd/mm/aaaa hh:mm">
                    </div>
                    <div class="col-md-5">
                        <label for="endDateAtendente">Data de Fim:</label>
                        <input type="text" id="endDateAtendente" class="form-control" placeholder="dd/mm/aaaa hh:mm">
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button id="filterAtendenteButton" class="btn btn-primary">Aplicar Filtro</button>
                    </div>
                </div>
                <div id="loadingSpinnerAtendente" style="display:none; text-align: center; margin: 10px 0;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
                <!-- Container para a tabela com rolagem horizontal -->
                <div id="resultadoAtendente" style="overflow-x: auto;">
                    <!-- A tabela será inserida aqui dinamicamente -->
                </div>
                <!-- Canvas para o gráfico polar -->
                <!--<canvas id="polarAreaChart" style="max-width: 100%; height: 400px;"></canvas>-->
            </div>
        </div>
    </div>
</div>