{% extends "layouts/base.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'assets/css/kpis.css' %}">
{% endblock %}

{% block title %} Dashboard KPI URA {% endblock %}

{% block content %}
    <div class="pc-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Painel de controle URA</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home:home' %}"><i class="fas fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item"><i class="fas fa-tachometer-alt"></i> Painel de controle URA</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->

            <!-- [ Filtros ] start -->
            {% include 'includes/components/filtros_kpis.html' %}
            <!-- [ Filtros ] end -->
             
            <!-- Gráficos -->
            <div class="row mb-4" id="seriesSelectorContainer">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="seriesSelector">Selecionar Séries:</label>
                        <select id="seriesSelector" class="form-control" style="width: 300px; margin: 0 auto;">
                            <option value="all">Mostrar Todas</option>
                            <option value="HM v3">Hospital da Mulher</option>
                            <option value="HSJC v3">Hospital São José dos Campos</option>
                            <option value="HSOR">Hospital Sorocaba</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div id="loadingSpinnerMedidores" style="display:none; text-align: center; margin: 10px 0;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
            
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div id="medicaoChartContainer" class="chart-container"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div id="colunasChartContainer" class="chart-container"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div id="tendenciaChartContainer" class="chart-container"></div>
                </div>
            </div>
            
            <!-- KPI 1101  -->
            {% include 'includes/components/kpi11_01.html' %}
        
            <!-- Indicadores de Desempenho de URA por Fila de Atendimento -->
            {% include 'includes/components/indicador_graficos_ura.html' %}

            <!-- Tempo médio de serviços por atendente -->
            {% include 'includes/components/tempo_medio_servico_por_atendente.html' %}
            
            <!-- KPI1102 -->
            {% include 'includes/components/kpi11_02.html' %}
            
            <!-- KPI1104 -->
            {% include 'includes/components/kpi11_04.html' %}
            
            <!-- KPI1201 -->
            {% include 'includes/components/kpi12_01.html' %}
            
            <!-- KPI1202 -->
            {% include 'includes/components/kpi12_02.html' %}
            <!-- KPI1204 -->
            {% include 'includes/components/kpi12_04.html' %}

            
            
            <!-- [ Main Content ] end -->
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <!-- Biblioteca de gráficos e utilitários -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <!-- Remova ou comente o script do chartjs-gauge -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-gauge"></script> -->


    <script id="clientesLabelsData" type="application/json">
        {{ clientes_labels|safe }}
    </script>
    <script id="urasPorClienteData" type="application/json">
        {{ uras_por_cliente|safe }}
    </script>

    <script id="atividadesAgentesUrlData" type="application/json">
        {{ atividades_agentes_ura_url }}
    </script>

    <script id="indicadorDesempenhoFilaUrlData" type="application/json">
        {{ indicador_de_desempenho_por_fila_de_URA|escapejs }}
    </script>
    
    <script id="tempoMedioServicoAtendenteUrlData" type="application/json">
        {{ tempo_medio_servico_por_atendente_url }}
    </script>

    <script id="tempoEsperaAtendimento1minutoExternoKPI1102" type="application/json">
        {{ indicador_de_desempenho_url }}
    </script>
    
    <script id="tempoChamadasAbandonadasKPI1104" type="application/json">
        {{ indicador_de_desempenho_url }}
    </script>
    <script id="tempoChamadasAbandonadasInternasKPI1204" type="application/json">
        {{ indicador_de_desempenho_url }}
    </script>
    <script id="tempoEsperaAtendimento1minutoInternoKPI1202" type="application/json">
        {{ indicador_de_desempenho_url }}
    </script>


    <!-- Scripts personalizados - ordem correta -->
    <!-- <script src="{% static 'assets/js/grafico_ura_por_cliente.js' %}"></script> -->

    <!-- Script de abandono de chamadas - deve ser carregado antes de qualquer chamada à sua função -->
    <script type="module" src="{% static 'assets/js/abandono_de_chamadas_externas.js' %}"></script>
    <script type="module" src="{% static 'assets/js/helpers.js' %}"></script>
    <script type="module" src="{% static 'assets/js/utils.js' %}"></script>
    
    <!-- Script de atividade dos agentes - carregue este antes de chamar suas funções -->
    <script type="module" src="{% static 'assets/js/atividade_agentes.js' %}"></script>
    
    <!-- Outros scripts personalizados -->
    <script src="{% static 'assets/js/indicador_desempenho_por_fila_URA.js' %}"></script>
    <script src="{% static 'assets/js/tempo_medio_servico_por_atendente.js' %}"></script>
    <script type="module" src="{% static 'assets/js/tempo_esperar_para_iniciar_atendimento_em_ate_1minuto.js' %}"></script>
    <script type="module" src="{% static 'assets/js/Kpi1201.js' %}"></script>
    <script type="module" src="{% static 'assets/js/Kpi1204.js' %}"></script>
    <script type="module" src="{% static 'assets/js/Kpi1202.js' %}"></script>
    <script type="module" src="{% static 'assets/js/kpi_charts.js' %}"></script>

    <!-- Script principal que chama as funções -->
    <script type="module">
        import { buscarIndicadorChamadasAbandonadas } from '{% static "assets/js/abandono_de_chamadas_externas.js" %}';
        import { buscarDadosAgentes } from '{% static "assets/js/atividade_agentes.js" %}';
        import { buscarIndicadorTempoEspera } from '{% static "assets/js/tempo_esperar_para_iniciar_atendimento_em_ate_1minuto.js" %}';
        import { buscarIndicadorTempoMedio } from '{% static "assets/js/Kpi1201.js" %}';
        import {buscarIndicadorChamadasAbandonadasInternas} from '{% static "assets/js/Kpi1204.js" %}';
        import {buscarIndicadorTempoEsperaKPI1202} from '{% static "assets/js/Kpi1202.js" %}';

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('kpiSearchButton').addEventListener('click', function() {
                const selectedKPI = document.getElementById('kpiSelector').value.trim();
                // console.log("[INFO] KPI Selecionado no case:", selectedKPI);
    
                switch (selectedKPI) {
                    case '1101':
                        // console.log('Entrou no case 1');
                        // Chamar a função relacionada ao KPI 11.01 (Ocupação por Atendente)
                        if (typeof buscarDadosAgentes === 'function') {
                            buscarDadosAgentes(); // Função específica para este KPI
                        } else {
                            console.error('Função buscarDadosAgentes não está definida');
                        }
                        break;
                    case '1102':
                        // console.log('Entrou no case 2');
                        if (typeof buscarIndicadorTempoEspera === 'function') {
                            buscarIndicadorTempoEspera(); // Função específica para este KPI
                        } else {
                            console.error('Função buscarIndicadorTempoEspera não está definida');
                        }
                        break;
                    case '1104':
                        // console.log('Entrou no case 4');
                        buscarIndicadorChamadasAbandonadas(); // Função específica para este KPI
                        break;
                    case '1201':
                        // console.log('Entrou no case 1201');
                        buscarIndicadorTempoMedio(); // Função específica para este KPI
                        break;
                    case '1204':
                        // console.log('Entrou no case 1204');
                        buscarIndicadorChamadasAbandonadasInternas(); // Função específica para este KPI
                        break;
                    case '1202':
                        // console.log('Entrou no case 1202');
                        buscarIndicadorTempoEsperaKPI1202(); // Função específica para este KPI
                        break;
                    default:
                        console.error('KPI não reconhecido:', selectedKPI);
                        break;
                    }
            });
        });
    </script>
    <style>
        #colunasChartContainer {
            width: 100%;
            height: auto;
        }        
    </style>
    
{% endblock javascripts %}

