	<!-- [ navigation menu ] start -->
	{% load static %}
	<div class="sidebar close">
		<i class="bx bx-menu" id="sidebarToggle"></i>
		<div class="logo-details">
			<img src="{% static 'assets/images/user/LogoVertical_Wtime_EscritoBranco.png' %}" alt="Wtime Logo" class="logo">
			<span class="logo_name">time DashboardX</span>
		</div>
		
		<ul class="nav-links">
			{% if user.is_superuser %}
				<li>
					<a href="/" class="active">
						<i class="fas fa-th-large"></i>
						<span class="link_name">Dashboard</span>
					</a>
					<ul class="sub-menu blank">
						<li><a class="link_name" href="/">Dashboard</a></li>
					</ul>
				</li>
				<li>
					<div class="iocn-link">
						<a href="#">
							<i class="fas fa-briefcase"></i>
							<span class="link_name">Clientes</span>
						</a>
						<i class="bx bxs-chevron-down arrow"></i>
					</div>
					<ul class="sub-menu">
						<li><a href="{% url 'home:lista_clientes' %}">Lista de Clientes</a></li>
					</ul>
				</li>
				<li>
					<a href="{% url 'home:lista_projetos' %}">
						<i class="fas fa-tasks"></i>
						<span class="link_name">Projetos</span>
					</a>
					<ul class="sub-menu blank">
						<li><a class="link_name" href="{% url 'home:lista_projetos' %}">Projetos</a></li>
					</ul>
				</li>
			{% endif %}
			<li>
				<a href="{% url 'ligobots:dashboard_kpi_ura' %}">
					<i class="fas fa-tachometer-alt"></i>
					<span class="link_name">Relatórios de KPIS</span>
				</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="{% url 'ligobots:dashboard_kpi_ura' %}">Relatórios de KPIS</a></li>
				</ul>
			</li>
			<li>
				<a href="{% url 'ligobots:relatorio_ura' %}">
					<i class="fas fa-headset"></i> 
					<span class="link_name">Relatórios de URA</span>
				</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="{% url 'ligobots:relatorio_ura' %}">Relatórios de URA</a></li>
				</ul>
			</li>
			<li>
				<a href="{% url 'ligobots:abandono_ura' %}">
					<i class="fas fa-phone-slash"></i>
					<span class="link_name">Abandonos URA</span>
				</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="{% url 'ligobots:abandono_ura' %}">Abandonos URA</a></li>
				</ul>
			</li>
			
			{% comment %} <li>
				<a href="#">
					<i class="material-icons-two-tone">chat_bubble</i>
					<span class="link_name">Chatbots</span>
				</a>
				<ul class="sub-menu blank">
					<li><a class="link_name" href="#">Chatbots</a></li>
				</ul>
			</li> {% endcomment %}
			{% comment %} <li>
				<div class="iocn-link">
					<a href="#">
						<i class="material-icons-two-tone">table_rows</i>
						<span class="link_name">Tabela</span>
					</a>
					<i class="bx bxs-chevron-down arrow"></i>
				</div>
				<ul class="sub-menu">
					<li><a href="{% url 'ligobots:tbl_bootstrap' %}">Bootstrap Table</a></li>
				</ul>
			</li> {% endcomment %}
			{% comment %} <li>
				<div class="iocn-link">
					<a href="#">
						<i class="material-icons-two-tone">bubble_chart</i>
						<span class="link_name">Gráficos e Mapas</span>
					</a>
					<i class="bx bxs-chevron-down arrow"></i>
				</div>
				<ul class="sub-menu">
					<li><a href="{% url 'ligobots:chart_apex' %}">Gráficos</a></li>
					<li><a href="{% url 'ligobots:map_google' %}">Mapas</a></li>
				</ul>
			</li> {% endcomment %}
			{% comment %} <li>
				<div class="iocn-link">
					<a href="#">
						<i class="material-icons-two-tone">https</i>
						<span class="link_name">Autenticação</span>
					</a>
					<i class="bx bxs-chevron-down arrow"></i>
				</div>
				<ul class="sub-menu">
					<li><a href="/auth-signup.html">Registrar</a></li>
					<li><a href="/auth-signin.html">Entrar</a></li>
				</ul>
			</li> {% endcomment %}
			<li>
				<div class="profile-details">
					<div class="profile-content">
						<img src="{% static 'assets/images/auth/auth-side.jpg' %}" alt="profileImg">
					</div>
					<div class="name-job">
						<div class="profile_name">Wtime</div>
						<div class="job">Dashboard</div>
					</div>
					<i class="bx bx-log-out"></i>
				</div>
			</li>
		</ul>
	</div>
	<!-- [ navigation menu ] end -->