/* Configuração padrão quando a sidebar está aberta */
.pc-container {
    max-width: calc(100% - 260px); /* Calcula a largura disponível subtraindo a largura da sidebar */
    margin-left: 260px; /* Ajusta a margem para compensar a largura da sidebar */
    padding-top: 60px;
    transition: all 0.3s ease; /* Transição suave para mudanças */
    box-sizing: border-box; /* Inclui o padding dentro da largura total do elemento */
}

/* Configuração quando a sidebar está colapsada */
.sidebar-collapsed .pc-container {
    max-width: calc(100% - 80px); /* Ajusta a largura do container para 100% menos 80px quando a sidebar estiver colapsada */
    margin-left: 90px; /* Ajusta a margem quando a sidebar está colapsada */
    transition: all 0.3s ease; /* Mantém a transição suave */
}


.page-header {
    padding: 20px 30px;
    background: #fff;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Menor largura mínima para os cards */
    gap: 20px;
    padding: 20px;
    max-width: 100%; /* Garante que o container ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o container */
}

.card {
    max-width: 300px;
    margin: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-size: 0.9em;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: center;
}

.btn-primary {
    background-color: #4e73df;
    border-color: #4e73df;
    margin-top: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #3c5ab0;
    border-color: #3c5ab0;
}

.btn-primary i {
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    background-color: #4e73df;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-icon:hover {
    background-color: #3c5ab0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.btn-icon i.material-icons {
    font-size: 24px;
}

.add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 991px) {
    .add-button-container {
        justify-content: center;
        margin-top: 10px;
    }

    .pc-container {
        padding-left: 0; /* Remove padding à esquerda em telas menores */
    }
}

.page-header-title,
.breadcrumb {
    flex: 1;
}

.row.align-items-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-md-6,
.col-12 {
    flex: 1;
}

/* Estilo geral do formulário de filtro */
.filter-card {
    max-width: 400px; /* Define uma largura fixa ou use 100% para flexibilidade */
    margin: 20px auto; /* Centraliza o formulário na página */
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilo dos campos de formulário */
.form-group {
    margin-bottom: 15px;
}

.input-group-prepend .input-group-text {
    background-color: #4e73df;
    color: #fff;
    border: 1px solid #4e73df;
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 10px;
}

.input-group .form-control {
    height: 38px; /* Ajusta a altura do campo de entrada para corresponder ao botão */
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}